body{
    background-color: rgb(58, 58, 58);
    width: 98%;
    height: 100%;
}
.telefon{
    border: 10px solid black;
    width: 299px;
    height: 499px;
    border-radius: 20px;
    background-image: url("../img/orelimage.jpg");
    box-shadow: 7px 7px 7px #4f4f4f;
.telefon .camera{
    border: 3px solid black;
    border-radius: 20px;
    height: 5px;
    width: 5px;
    background-color: rgb(37, 37, 37);
    margin: -10px;
}
.telefon .tel a img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.telefon .youtube a img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.telefon .oreli a img{
    margin-top: 20px;
    height: 50px;
    float: left;
    margin-left: 2px;
}
.telefon .senting a img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.telefon .vscode a img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
}
.telefon .hr{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 299px;
    height: 1px;
    background: linear-gradient(to right, rgb(126, 126, 126), rgb(20, 20, 20));
    margin-top: 410px;
}
.telefon .hrc{
    border: 1px solid rgba(0, 0, 0, 0);
    width: 299px;
    height: 1px;
    background: linear-gradient(to right, rgb(126, 126, 126), rgb(20, 20, 20));
}
.telefon .okn .d{
    background-color: rgba(255, 255, 255, 0.733);
    border: 3px solid silver;
    width: 289px;
    height: 389px;
    border-radius: 20px;
    margin-top: 11px;
}
.telefon .ot a img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
    border: 3px solid black;
    border-radius: 5px;
    background: linear-gradient(blue, rgb(1, 255, 234));
}
.i{
    border: 10px solid black;
    width: 299px;
    height: 499px;
    border-radius: 20px;
    background-image: url("../img/gora.jpg");
}
.i .camera{
    border: 3px solid black;
    border-radius: 20px;
    height: 5px;
    width: 5px;
    background-color: rgb(37, 37, 37);
    margin: 5px;
}
.i .isystem{
    margin-top: 150px;
    color: white;
}
.i .exit{
    float: right;
    margin-right: 10px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 4px;
}
.i .buttonOk{
    margin-right: 10px;
    border: 1px solid rgb(190, 190, 190);
    height: 20px;
    width: 30px;
    background-color: rgb(136, 136, 136);
    border-radius: 4px;
}
.telefon .exit{
    float: right;
    margin-right: 10px;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    background-color: rgb(136, 136, 136);
    margin-top: 3px;
    border-radius: 4px;
}
.telefon .sh{
    border: 1px solid black;
    height: 20px;
    width: 100%;
    background-color: rgb(73, 72, 72);
    border-radius: 10px 10px 0px 0px;
}

.telefon .clock{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-left: 3px;
}
.telefon .date{
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-right: 3px;
}
.telefon .okn .d .orelis{
    margin-top: 3px;
}
.telefon .okn .d .program{
    margin-top: 3px;
}
.telefon .vscodep img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-left: 30px;
}
.telefon .telp img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-left: 30px;
}
.telefon .youtubep img{
    margin-top: 10px;
    height: 50px;
    float: left;
    margin-left: 20px;
    margin-left: 30px;
}
.telefon .btn a{
	background-color: rgba(84, 165, 139, 0.712);
	margin-left: 5%;
	border-radius: 31px;
	color:#5d5e5e;
	float: left;
	margin-top: 30px;
    height: 20px;
    width: 70px;
}
.telefonvkl{
    background-color: rgb(36, 36, 36);
    border: 10px solid black;
    width: 299px;
    height: 499px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px #4f4f4f;
    margin-top: -20px;
}
.telefonvkl .camera{
    border: 3px solid black;
    border-radius: 20px;
    height: 5px;
    width: 5px;
    background-color: rgb(37, 37, 37);
    margin: 10px;
}
.telefonbl .camera{
    border: 3px solid black;
    border-radius: 20px;
    height: 5px;
    width: 5px;
    background-image: rgb(37, 37, 37);
    margin: 10px;
}
.telefonbl{
    background-image: url("../img/bl.jpg");
    border: 10px solid black;
    width: 299px;
    height: 499px;
    border-radius: 20px;
    box-shadow: 7px 7px 7px #4f4f4f;
    margin-top: -20px;
}
.telefonbl .bl{
    margin-top: 400px;
}
